<% layout('layouts/boilerplate')%>
<div class="row">
    <div class="col-6 ">
        <div class="card mb-3 ">
            <img src="<%= campground.image%>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= campground.title %></h5>
              <p class="card-text"><%= campground.description%></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-muted"><%= campground.location%></li>
              <li class="list-group-item ">創建此資料者:  <%= campground.author.username%></li>
              <li class="list-group-item">$<%= campground.price%>/night</li>
              
            </ul>
            <% if (currentUser &&campground.author.equals(currentUser._id)) {%>
            <div class="card-body">
                <a class="card-link btn btn-info" href="/campgrounds/<%=campground._id%>/edit">edit</a>
                <form class="d-inline"action="/campgrounds/<%=campground._id%>?_method=DELETE" method="post">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
            <% } %>
            <div class="card-footer text-muted">
                兩天前
            </div>
          </div>

      
    </div>
    <!--這個div 的 col-6 可以切開螢幕呈現的比例 -->
    <div class="col-6">
      <% if(currentUser) {%>
      <h2>留言區</h2>
      <form action="/campgrounds/<%=campground._id%>/reviews" method="POST" class="mb-3 validated-form" novalidate>
        <!--novalidate告訴表單不要使用HTML驗證
      然後使用validated-form(在boilerplate那隻)-->
        <div class="mb-3">
          <label class="form-label" for="rating">評分</label>
          <input class="form-range" type="range" min="1" max="5" name="review[rating]" id="rating">
        </div>
        <div class="mb-3">
          <label class="form-label" for="body">評論:</label>
          <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
       <!--它用於創建0的底部邊距（margin-bottom:0）-->

          <div class="valid-feedback">
            內容正確!
        </div>
        </div> 
        <button class="btn btn-success">Submit</button>
      </form>
      <% }%>
      <% for(let review of campground.reviews){ %>
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">評分:<%= review.rating  %> </h5>
          <h6 class="card-subtitle mb-2 text-muted">發布者:<%= review.author.username%></h6>
          <p class="card-text">回覆:<%= review.body  %></p>
          <% if (currentUser &&review.author.equals(currentUser._id)) {%>
          <form action="/campgrounds/<%=campground._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST"> <!--要override JS POST-->
            <button class="btn btn-sm btn-danger">刪除</button>
          </form>
          <%}%>
        </div>
      </div>
      <% }%>

    </div>
</div>

  
